*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50vw;
    flex-direction: column;               
}   

body h2{
    margin-bottom: 5rem;  
}
main{
    display: flex;
    justify-content: space-between; 
    width: 60vw;          
}
    
    
